:root {
	--theme-active: #0066ff;
	--theme-info: #0066ff;
	--theme-action: #117711;
	--theme-danger: #771111;
}

[data-theme-bg="dark"] {
	--theme-bg: black;
	--theme-contrasting-bg: white;
	--theme-matching-bg: #222222;
}

[data-theme-bg="light"] {
	--theme-bg: white;
	--theme-contrasting-bg: black;
	--theme-matching-bg: #e4e4e4;
}

[data-theme-bg="mistyRose"] {
	--theme-bg: mistyrose; /* oklch(94.0012% 0.030076 25.2812) */
	--theme-contrasting-bg: black;
	--theme-matching-bg: #f2d7d4; /* oklch(90.0012% 0.030076 25.2812) */
	--theme-danger: #bb1111;
}

.darkishBg[data-theme-fg="darkLight"] {
	--theme-fg: white;
	--theme-fg-rgb: 255, 255, 255;
}	

.lightishBg[data-theme-fg="darkLight"] {
	--theme-fg: black;
	--theme-fg-rgb: 0, 0, 0;
}

[data-theme-fg="blue"] {
	--theme-fg: #2e5d83;
	--theme-fg-rgb: 46, 93, 131;
}

[data-theme-fg="purple"] {
	--theme-fg: blueviolet;
	--theme-active: rebeccapurple;
	--theme-fg-rgb: 138, 43, 226;
}

html, body {
	background-color: var(--theme-bg);
	color: var(--theme-contrasting-bg);
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

[data-theme-font="lucida"] {
	--theme-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	--theme-font-secondary: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

[data-theme-font="cambria"] {
	--theme-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	--theme-font-secondary: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

[data-theme-font="monospace"] {
	--theme-font: monospace;
	--theme-font-secondary: "Courier New", Courier, monospace;
}

* {
	font-family: var(--theme-font);
	font-size: 1rem;
	line-height: 1;
}

h1 {
	font-size: 2rem;
}

#centerDisplay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainDisplay {
	color: var(--theme-fg);
	display: none;
}
body.showMain #mainDisplay { display: block; }

#timeView, #timeView * {
	font-size: 15vw;
	white-space: nowrap;
	user-select: none;
}

#timePeriodView {
	text-align: center;
	font-size: 2vw;
}

#timePeriod {
	font-size: 2vw;
}

#timeOver {
	position: fixed;
	top: 50%;
	left: 2vw;
	display: none;
}

[data-pointerpos = "left"] #timeOver {
	display: block;
}

#timeLeft {
	position: fixed;
	top: 50%;
	right: 2vw;
}

[data-pointerpos = "left"] #timeLeft {
	display: none;
}

button {
	padding: 0.7rem 1rem;
	background-color: var(--theme-action);
	border: none;
	outline: none;
	position: relative;
	color: white;
	font-size: 0.8vw;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: inset 0 -0.6rem 0 -0.3rem rgba(0, 0, 0, 0.2);
}

button:disabled {
	opacity: 0.5!important;
	cursor: not-allowed!important;
}

button.btnClean {
	padding: 0.4rem 0.8rem;
	border: none;
	outline: none;
	color: var(--theme-fg);
	cursor: pointer;
	border-radius: 4px;
	user-select: none;
	box-sizing: border-box;
	box-shadow: unset;
	margin-top: unset;
}

button.largeBtn {
	font-size: 1.2vw;
}

button:active {
	top: 0.1rem;
	box-shadow: inset 0 -0.55rem 0 -0.3rem rgba(0, 0, 0, 0.2);
}

button.btnClean:active {
	top: unset;
	box-shadow: unset;
}

#scheduleView, #settingsView {
	display: none;
	padding: 2rem;
	width: 600px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	height: 100vh;
	box-sizing: border-box;
	overflow: auto;
}
body.showSchedule #scheduleView { display: block; }

#scheduleContainer>.scheduleBlock:first-child .buttonContainer [data-purpose="moveUp"] {
	display: none;
}

#scheduleContainer>.scheduleBlock:last-child .buttonContainer [data-purpose="moveDown"] {
	display: none;
}

.periodsBlock>.period:first-child .topRightBtnMenu [data-purpose="moveUp"] {
	visibility: hidden;
}

.periodsBlock>.period:last-child .topRightBtnMenu [data-purpose="moveDown"] {
	visibility: hidden;
}

.scheduleBlock {
	border: 1px dashed var(--theme-fg);
	padding: 1rem;
	margin-bottom: 1rem;
}

.scheduleBlock>div {
	margin-bottom: 2rem;
}

.schLabel {
	display: block;
	font-family: var(--theme-font-secondary);
}

input[type="text"] {
	background: transparent;
	font-size: 1.2vw;
	border: none;
	border-bottom: 1px solid var(--theme-contrasting-bg);
	transition: all 250ms;
	color: var(--theme-fg);
	outline: none;
	width: 100%;
}

input[type="checkbox"] {
	accent-color: var(--theme-fg);
}

input, button, select {
	margin-top: 0.5rem;
}

[data-theme-font="cambria"] select {
	font-size: medium;
}

input[type="text"]:focus {
	border-bottom-color: var(--theme-active);
}

.period {
	border: 2px solid rgba(127, 127, 127, 0.5);
	border-radius: 4px;
	padding: 0.5rem;
	padding-bottom: 0;
	margin: 0.5rem 0;
	position: relative;
}

.period input[type="text"] {
	font-size: larger;
	width: auto;
}

.period input {
	margin: 0;
}

.topRightBtnMenu {
	position: absolute;
	top: 0.3rem;
	right: 0.4rem;
	font-size: 20px;
}

.topRightBtnMenu>span:hover {
	transition: all 100ms;
	transform: scale(1.1);
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.scheduleBlock>.buttonContainer {
	margin: 0;
}

.buttonContainer button {
	flex: 1;
}

.btnInfo {
	background-color: var(--theme-info);
}

.btnActive {
	background-color: var(--theme-fg)!important;
	color: var(--theme-bg)!important;
}

.textDanger {
	color: var(--theme-danger);
}

.btnDanger {
	background-color: var(--theme-danger);
}

.btnSmall {
	font-size: 0.7vw;
}

.textCenter {
	display: block;
	margin: 0 auto;
}

.textInvisible {
	color: transparent;
	user-select: none;
}

.floatRight {
	float: right;
}

#unsavedChanges {
	position: fixed;
	top: 1rem;
	right: 50%;
	transform: translateX(50%);
	color: yellow;
	background-color: #222222;
	padding: 1rem;
	border-radius: 4px;
}

.hidden {
	display: none!important;
}

.schedulesExist #scheduleBtn {
	display: none;
}

#editSchedulesIcon {
	display: none;
}

.schedulesExist #editSchedulesIcon {
	display: unset;
}

/* icon menu */
#iconMenu {
	position: fixed;
	top: 0%;
	right: 0%;
	padding: 1rem;
	width: 100%;
	text-align: right;
	display: none;
	user-select: none;
}

#iconMenu.hoverToShow {
	opacity: 0;
	transition: all 200ms;
}

#iconMenu.hoverToShow:hover {
	opacity: 1;
}

#iconMenu .material-symbols-outlined {
	font-size: 1.4rem;
	margin-left: 0.5rem;
	background-color: var(--theme-bg);
	transition: all 200ms;
}

#iconMenu .material-symbols-outlined#editSchedulesIcon {
	background-color: var(--theme-action);
	color: white;
	border: none;
	outline: none;
	position: relative;
	border-radius: 4px;
}

#iconMenu .material-symbols-outlined#editSchedulesIcon:hover {
	filter: brightness(120%);
}

#iconMenu .material-symbols-outlined:hover:not(.btnActive) {
	background-color: var(--theme-matching-bg);
}

#iconMenu .material-symbols-outlined:active:not(:disabled) {
	background-color: var(--theme-active)!important;
	color: var(--theme-matching-bg);
}

#iconMenu .btnActive:hover {
	filter: brightness(120%);
}

.showMain #iconMenu {
	display: unset;
}

/* settings */
#closeSettingsIcon, #closeSchedulesIcon {
	position: fixed;
	top: 0%;
	right: 0%;
	transform: translate(-50%, 50%);
	cursor: pointer;
}

body.showSettings #settingsView { display: block; }

#uploadFileInput {
	display: none;
}

#shareMenu {
	border-radius: 4px;
	background-color: var(--theme-fg);
	color: var(--theme-bg);
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.linklike {
	color: lightsteelblue;
	text-decoration: underline;
	cursor: pointer;
}

datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 200px;
}

option {
	padding: 0;
}

input[type="range"] {
	width: 200px;
	margin: 0;
}

/* stopwatch & timer */

#stopwatch, #timer {
	background-color: var(--theme-bg);
	border: 2px solid rgba(127, 127, 127, 0.5);
	border-radius: 4px;
	width: max-content;
	padding: 0.5rem;
	padding-top: 0;
	position: fixed;
	resize: both;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-width: 100px;
	min-height: 50px;
	width: 200px;
}

#stopwatch {
	top: 10%;
	right: 1rem;
}

#timer {
	top: 30%;
	right: 1rem;
}

#stopwatchDrag, #timerDrag {
	font-size: 1rem;
	text-align: center;
	width: 100%;
	cursor: grab;
	user-select: none;
}

.dragging {
	cursor: grabbing!important;
}

#stopwatchTime, #timerTime {
	width: 100%;
	background-color: var(--theme-matching-bg);
	color: var(--theme-contrasting-bg);
	padding: 0.5rem;
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 8px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	text-align: center;
}

.widgetButtons {
	display: flex;
	gap: 0.5rem;
}

.widgetButtons button {
	border: 1px solid var(--theme-fg);
	flex: 1;
	background-color: var(--theme-bg);
	color: var(--theme-contrasting-bg);
	transition: all 100ms;
}

.widgetButtons button:hover {
	background-color: var(--theme-matching-bg);
}

.widgetButtons button:active {
	background-color: var(--theme-fg);
	color: var(--theme-bg);
}

#timerMute {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 50% 50% 50% 0;
	background-color: var(--theme-matching-bg);
	color: var(--theme-fg);
	margin: 0.2rem;
	cursor: pointer;
	user-select: none;
}

#timerMute:hover {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* loading screen exit animation */
.exitDown {
	animation: screenExitDown 750ms 250ms forwards;
}

@keyframes screenExitDown {
	from { height: 100vh; }
	to { height: 0; }
}
