html, body {
	background-color: black;
	color: white;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 1;
}

#centerDisplay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainDisplay {
	display: none;
}
body.showMain #mainDisplay { display: block; }

#timeView {
	font-size: 15vw;
	white-space: nowrap;
	user-select: none;
}

#timePeriodView {
	text-align: center;
	font-size: 2vw;
}

#timeOver {
	position: fixed;
	top: 50%;
	left: 2vw;
	display: none;
}

[data-pointerpos = "left"] #timeOver {
	display: block;
}

#timeLeft {
	position: fixed;
	top: 50%;
	right: 2vw;
}

[data-pointerpos = "left"] #timeLeft {
	display: none;
}

button {
	padding: 0.7em 1em;
	background-color: #117711;
	border: none;
	outline: none;
	position: relative;
	color: white;
	font-size: 0.8vw;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
}

button.largeBtn {
	font-size: 1.2vw;
}

button:active {
	top: 0.1em;
	box-shadow: inset 0 -0.55em 0 -0.3em rgba(0, 0, 0, 0.2);
}

#scheduleView {
	display: none;
	padding: 2em;
	width: 600px;
	box-shadow: 0 0 1em 0.1em rgba(255, 255, 255, 0.1);
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	height: 100vh;
	box-sizing: border-box;
	overflow: auto;
}
body.showSchedule #scheduleView { display: block; }

#scheduleContainer>.scheduleBlock:first-child .buttonContainer [data-purpose="moveUp"] {
	display: none;
}

#scheduleContainer>.scheduleBlock:last-child .buttonContainer [data-purpose="moveDown"] {
	display: none;
}

.periodsBlock>.period:first-child .topRightBtnMenu [data-purpose="moveUp"] {
	visibility: hidden;
}

.periodsBlock>.period:last-child .topRightBtnMenu [data-purpose="moveDown"] {
	visibility: hidden;
}

.scheduleBlock {
	border: 1px dashed white;
	padding: 1em;
	margin-bottom: 1em;
}

.scheduleBlock>div {
	margin-bottom: 2em;
}

.schLabel {
	display: block;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="text"] {
	background: transparent;
	font-size: 1.2vw;
	border: none;
	border-bottom: 1px solid white;
	transition: all 250ms;
	color: white;
	outline: none;
	width: 100%;
}

input, button {
	margin-top: 0.5em;
}

input[type="text"]:focus {
	border-bottom-color: #2244ff;
}

.period {
	border: 2px solid rgba(127, 127, 127, 0.5);
	border-radius: 4px;
	padding: 0.5em;
	padding-bottom: 0;
	margin: 0.5em 0;
	position: relative;
}

.period input[type="text"] {
	font-size: larger;
	width: auto;
}

.period input {
	margin: 0;
}

.topRightBtnMenu {
	position: absolute;
	top: 0.3em;
	right: 0.4em;
	font-size: 20px;
}

.topRightBtnMenu>span:hover {
	transition: all 100ms;
	transform: scale(1.1);
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.scheduleBlock>.buttonContainer {
	margin: 0;
}

.buttonContainer button {
	flex: 1;
}

.btnInfo {
	background-color: #0066ff;
}

.textDanger {
	color: #771111;
}

.btnDanger {
	background-color: #771111;
}

.btnSmall {
	font-size: 0.7vw;
}

.textCenter {
	display: block;
	margin: 0 auto;
}

.floatRight {
	float: right;
}

#unsavedChanges {
	position: fixed;
	top: 1em;
	right: 50%;
	transform: translateX(50%);
	color: yellow;
	background-color: #222222;
	padding: 1em;
	border-radius: 4px;
}

.hidden {
	display: none;
}
